@model Laboratoria.Models.Book

<div class="container-fluid">
    <h1>Wpisz dane nowej książki</h1>
    <form asp-action="Add" asp-controller="Book" method="post">
        <div class="mb-3">
            <input class="form-control" asp-for="Title" />
        </div>
        <div class="mb-3">
            <input class="form-control" asp-for="Author" />
        </div>
        <div class="mb-3">
            <input class="form-control" asp-for="PublicationYear" />
        </div>
        <div class="mb-3">
            <button class="btn btn-primary" type="submit">Zapisz</button>
        </div>
    </form>
</div>
