@model ICollection<Laboratoria.Models.Book>

<h1>Książki</h1>
<h3>Liczba książek: @Model.Count</h3>
<a asp-action="AddForm" asp-controller="Book">Dodaj nową ksiązkę</a>
<div><a asp-action="List" asp-controller="Book">Lista książek</a></div>