@model ICollection<Laboratoria.Models.Book>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Książki</h1>
<h3>Liczba ksiażek: @Model.Count</h3>
<a asp-action="AddForm" asp-controller="Book">Dodaj nową ksiązkę</a>
<a asp-action="List" asp-controller="Book">Lista książek</a>
